<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>
    Edit <%= cat.name %>
  </title> 
</head>

<body>
 
  <h1>Edit <%= cat.name %>
  </h1>
 

  <form action="/cats/<%=cat._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= cat.name %>" />
    
    <label for="image">Image URL:</label>
    <input type="text" name="image" value="<%= cat.image %>" />

    <button type="submit">Update cat</button>
  </form>
  <a class="cats-index-link" href="/cats">
    <div class="index-link-text">Back to cats</div>
  </a>
</body>